/* App.css */
.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
  color: #6c5b7b; /* Color púrpura pastel */
}

button {
  background-color: #355c7d; /* Azul pastel */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #6c5b7b; /* Cambio de color al pasar el ratón */
}

.selected-person {
  margin-top: 20px;
}

.streaming-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.streaming-buttons a {
  width: 100px; /* Ancho fijo para todos los botones */
  height: 55px; /* Altura predeterminada para computadoras */
}

@media only screen and (max-width: 600px) {
  .streaming-buttons a {
    height: 47px; /* Altura para dispositivos móviles */
  }
}

.streaming-buttons a img {
  max-width: 100%; /* Ajusta el tamaño máximo de las imágenes al ancho del botón */
  max-height: 100%; /* Ajusta el tamaño máximo de las imágenes al alto del botón */
}

footer {
  margin-top: 40px;
  font-style: italic;
  color: #6c5b7b; /* Color púrpura pastel */
}

footer span {
  color: #ff6b6b; /* Color pastel del corazón */
}
